**/chroma_db/
*.parquet
**/models/
**/__pycache__/
*.pyc
**/texts/
**/pmid2contents/
**/pubmed_index/
**/mesh_pred_index/
**/output/
**/project/
**/.venv/
.venv/
*/.venv/
.ipynb_checkpoints/
__pycache__/
*.pt
*.ckpt
*.bin